/* header.component.css */
header {
    background-color: lightblue;
    padding: 10px;
  }
  
  /* footer.component.css */

  
  /* side-menu.component.css */
  nav {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightgray;
    padding: 10px;
  }
  
  .content {
    margin-left: 200px; /* Adjust this according to the width of your side menu */
  }
  